 //底部
 .footer-bar{
    background-color: #45484c;
    color:#fff;
    padding:50px;
    //底部宽度1200px
    .footer-bar-wrap{
        width:1200px;
        margin:0 auto;
        //名称
        .footer-bar-left-title{
            font-size: 18px;
        }
        //友情链接
        .footer-bar-link{
            color:#ccc;
            margin:5px;
        }
        .footer-bar-link:hover{
            color:#4cb5ff;
        }
    }
}

